* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --maincolor: rgb(135, 250, 231);
    --white: #fff;
}

body {
    background-color: var(--maincolor);
}

main.home_main {
    padding-top: 54px;
    height: 100vh;
}

.row>.content {
    padding: 0 25px;
    margin-top: 10px;
}

card-body>ul {
    list-style: none;
}

/* Acount pages styles */

#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* dashboard */

.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
}
/* navigations */


.dash-main {
    padding-top: 90px;
}

img.btn.btn-sm.btn-white.d-table.mx-auto.mt-4 {
    height: 85px;
    width: 95px;
    border-radius: 50%;
    border: 1px solid yellow;
}


.form-check {
    position: relative;
    display: block;
    padding-left: 33px;
}

/* voter card */

.candidate-card {
    flex-direction: row;
    align-items: center;
    height: 150px;
}

.candidate-title {
    font-weight: bold;
}

.candidate-card img {
    width: 30%;
    padding-left: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

button.btn.btn-warning.btn-block.vote-btn {
    width: 25%;
}

div#chart-container {
    padding: 0 150px;
}

@media (max-width:767.98px) {
    .dash-main {
        padding-top: 140px;
    }
}

@media only screen and (min-width: 750px) {
    .aside_close-icon {
        display: none;
    }
}

/* hiding some readonly vie input on small screens */

/* @media only screen and (max-width: 768px) {
    .gender, .course {
        display: none;
    }
} */

@media only screen and (max-width: 768px) {
    button.btn.btn-warning.btn-block.vote-btn {
        width: 100%;
    }
    .candidate-body {
        padding: 0.5em 1.2em;
    }
    .candidate-body .candidate-text {
        margin: 0;
    }
    .candidate-card img {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    div#chart-container {
        padding: 0 150px;
    }
}